<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Redes Sociais | Men i Trust</title>
		<link rel ="stylesheet" href ="../css/style.css">
	
	</head>
	
	<body>
		<header id="cabecalho-redes">
			<img id="logo" height="350" width="350" src="../img/menitrust1.png" alt="logo-menitrust" />
		</header>	
		<nav class="menu">
				<table>
					<tr>
						<td class="nav-item"><a  href="../Inicio.html">INICIO</a></td>
						<td class="nav-item"><a  href="sobre.html">SOBRE</a></td>
						<td class="nav-item"><a  href="shows.html">SHOWS</a></td>
					</tr>
				</table>
		</nav>
		<section>
			<table id="tabela-social">
				<tr>
					<td><a href="https://open.spotify.com/artist/3zmfs9cQwzJl575W1ZYXeT?autoplay=true&v=A" target="_blank"><span id="spotify-text">Spotify</span></a></td>
					<td><a href="https://www.youtube.com/channel/UCOzZL8Sd8V8yFGWqOHnVqFA" target="_blank"><span id="youtube-text">YouTube</a></span></td>
				</tr>
				<tr>
					<td><a href="https://menitrust.tumblr.com/" target="_blank"><span id="tumblr-text">Tumblr</span></a></td>
					<td><a href="https://www.instagram.com/menitrust/?hl=pt-br" target="_blank"><span id="instagram-text">Instagram</span></a></td>
				</tr>
			</table>
		</section>
    </body>
	
    <footer>
        Todos os direitos reservados a Men I Trust©
    </footer>


</html>