<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Shows | Men i Trust</title>
		<link rel ="stylesheet" href ="../css/style.css">
	
	</head>
	
	<body>
		<header id="cabecalho-shows">
			<img id="logo" height="350" width="350" src="../img/menitrust1.png" alt="logo-menitrust" />
		</header>	
		<nav class="menu">
				<table>
					<tr>
						<td class="nav-item"><a  href="../Inicio.html">INICIO</a></td>
						<td class="nav-item"><a  href="sobre.html">SOBRE</a></td>
						<td class="nav-item"><a  href="redessociais.html">REDES SOCIAIS</a></td>
					</tr>
				</table>
		</nav>
		<section>
			<table class="tabela-shows" align="center">
				<thead>
					<tr>
						<th class="tabela-shows">Evento</th>
						<th class="tabela-shows">Local</th>
						<th class="tabela-shows">Data</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabela-shows">Grant Park</td>
						<td class="tabela-shows">Chicago, IL</td>
						<td class="tabela-shows">Aug 01</td>
					</tr>
					<tr>
						<td class="tabela-shows">Sleeping Village</td>
						<td class="tabela-shows">Chicago, IL</td>
						<td class="tabela-shows">Aug 02</td>
					</tr>
					<tr>
						<td class="tabela-shows">Imperial Bell</td>
						<td class="tabela-shows">Québec, QC</td>
						<td class="tabela-shows">Sep 15</td>
					</tr>
					<tr>
						<td class="tabela-shows">Perez Art Museum</td>
						<td class="tabela-shows">Miami, FL</td>
						<td class="tabela-shows">Sep 19</td>
					</tr>
					<tr>
						<td class="tabela-shows">Fabrique Club</td>
						<td class="tabela-shows">São Paulo, Brazil</td>
						<td class="tabela-shows">Sep 21</td>
					</tr>
					<tr>
						<td class="tabela-shows">Agulha</td>
						<td class="tabela-shows">Porto Alegre, Brazil</td>
						<td class="tabela-shows">Sep 22</td>
					</tr>
					<tr>
						<td class="tabela-shows">Zilker Park</td>
						<td class="tabela-shows">Austin, TX</td>
						<td class="tabela-shows">Oct 04</td>
					</tr>
					<tr>
						<td class="tabela-shows">WWW X</td>
						<td class="tabela-shows">Shibuya, Japan</td>
						<td class="tabela-shows">Oct 09</td>
					</tr>
					<tr>
						<td class="tabela-shows">WWW X</td>
						<td class="tabela-shows">Shibuya, Japan</td>
						<td class="tabela-shows">Oct 10</td>
					</tr>
					<tr>
						<td class="tabela-shows">The Wall Live House Gong-Guan</td>
						<td class="tabela-shows">Taipei, Taiwan</td>
						<td class="tabela-shows">Oct 14</td>
					</tr>
					<tr>
						<td class="tabela-shows">This Town Needs</td>
						<td class="tabela-shows">Hong Kong, China</td>
						<td class="tabela-shows">Oct 16</td>
					</tr>
					<tr>
						<td class="tabela-shows">Live RCA</td>
						<td class="tabela-shows">Bangkok, Thailand</td>
						<td class="tabela-shows">Oct 18</td>
					</tr>

				</tbody>
			</table>
		</section>

    </body>
	
    <footer>
        Todos os direitos reservados a Men I Trust©
    </footer>


</html>