<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8"/>
		<title>Sobre | Men i Trust</title>
		<link rel ="stylesheet" href ="../css/style.css">
	
	</head>
	
	<body>
		
		<header id="cabecalho-sobre">
			<img id="logo" height="350" width="350" src="../img/menitrust1.png" alt="logo-menitrust" />
		</header>
		<nav class="menu">
				<table>
					<tr>
						<td class="nav-item"><a  href="../Inicio.html">INICIO</a></td>
						<td class="nav-item"><a  href="shows.html">SHOWS</a></td>
						<td class="nav-item"><a  href="redessociais.html">REDES SOCIAIS</a></td>
					</tr>
				</table>
		</nav>
		<section>
			<h1> Sobre a banda Men I Trust</h1>
				<figure>
					<img id="img-sobre" src="../img/banda.jpg" alt="foto-banda-menitrust"/>
					<figcaption>Integrantes da banda: Dragos Chiriac, Emmanuelle Proulx, Jessy Caron</figcaption>
				</figure>
				<p><strong>Men I Trust</strong> é uma banda canadense de indie electro-pop formada em Montreal, Canadá.</p>
				<p>A banda Men I Trust foi fundada em 2014 por dois amigos de escola, Jessy Caron e Dragos Chiriac, que se conheceram no departamento de música da Université Laval.Emmanuelle Proulx se juntou ao conjunto posteriormente, como cantora e guitarrista. Eles lançaram um EP autointitulado em 2014, apresentado posteriormente no Festival de Jazz de Montreal, Festival de Verão da cidade de Quebec e no festival M for Montreal. Em 2015, lançam o álbum Headroom.Em 2017, a banda realizou uma turnê na China, incluindo as cidades de Shenzhen, Pequim e Xangai. No mesmo ano, lançam o single e o vídeo da música, "I hope to be around".Em 2018, lançam o single "Show me How", cujo vídeo clipe é dirigido pela banda.Neste ano, a banda realizou sua turnê norte americana.</p>
		</section>
	</body>
	
	<footer>
		Todos os direitos reservados a Men I Trust©
	</footer>


</html>